/* header, logo and navbar*/
.header {
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0px;
    top: 0px;
    background: #F4F7F5;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(images/vectorbg.png);
    background-size: 110vh;
    background-repeat: no-repeat;
    background-position-x: 60vh;
    background-position-y: 32vh;
    font-family: 'Roboto', sans-serif;
}

.headerNav {
    background: rgb(185, 161, 199);
    width: 100%;
}

.container-fluid.largebar {
    background: #f4f7f5;
}

.navbar {
    padding: 1em 0px;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.1em;
    color: #272D4E;
}

.logo {
    width: 90%;
    height: auto;
}

.rectangle {
    display: flex;
    height: 55vh;
    left: 0px;
    background: #7541C0;
    background-image: url("images/greekBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.rectangle .container {
    display: flex;
    align-items: center;
}

.block1 {

    padding-left: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%x;
    height: 362px;
}

.text-title {
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.7rem;
    line-height: 3.6rem;
    color: #F2F2F2;
}

/*our-section*/

.container-fluid.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.about-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-title {
    font-weight: 600;
    font-family: Roboto;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: gray;
}

.inside-box {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #Ffffff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(117, 65, 192, 0.58);
    -moz-box-shadow: 0px 1px 3px 0px rgba(117, 65, 192, 0.58);
    box-shadow: 0px 1px 3px 0px rgba(117, 65, 192, 0.58);
    width: 50%;
    margin-top: -5%;

}

.logo-inside {
    padding-left: 8%;
}

.logo2 {
    width: 8rem;
    padding-left: 3%;
}

.text2 {
    display: flex;
    width: 60%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1.2rem;
    margin-top: 2%;
    padding-right: 3%;
}

/*our-team*/
.team-box {
    height: 22rem;
    display: flex;
    align-items: center;
    margin: 3em 0px;
}

.our-people {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.member {
    display: flex;
    flex-direction: column;
    width: 21%;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
}

.member img {
    width: 100%;
}

.member p {
    font-size: .75rem;
    font-family: sans-serif;
    align-self: flex-end;
    margin-top: 1em;
}

/* Our Areas */
.container-fluid.areas-box {
    height: 37rem;
    width: 100%;
    background-color: #313131;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-image: url("images/tribunal\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.container-fluid.areas-box::-webkit-scrollbar {
    display: none;
}

.our-areas {
    height: 50%;
    background-color: #7541C0;
    width: 100%;
}

.areas {
    display: inline-flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.areas>div {
    min-width: 400px;
    padding: 0px 4em;
    text-align: center;
    height: 100%;
    position: relative;
}

.areas>div:first-child {
    font-size: 2.5em;
    font-weight: 600;
    color: gainsboro;
    padding: 0px;
    margin: 0px 4em;
    padding-top: 250px;
}

.area .area-title {
    font-size: 2.2em;
    line-height: 1em;
    font-weight: 600;
    color: white;
    padding-top: 170px;
}

.area .area-description {
    color: gainsboro;
}

.area .circle {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: white;
    margin: 1em auto;
}

.area:after {
    position: absolute;
    left: 0;
    top: 46%;
    height: 1px;
    background: white;
    content: "";
    width: 100%;
    display: block;
}

/*Address & Form*/
.container-fluid.bigfoot {
    min-height: 25em;
    margin-top: 5em;
    background: #7541C0;
    display: flex;
    align-items: center;
    background-image: url("images/adress.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: right;
    background-position-y: bottom;
}

.container.prefoot {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2em;
    flex-wrap: wrap;
}

.prefoot>* {
    width: 100%;
    flex-grow: 1;
    flex: 1;
    min-width: 250px;
}

.address-text {
    flex-grow: 2;
}

.address-form {
    height: 100%;
    display: flex;
    align-items: center;
}

.info {
    height: 20rem;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
}

.info p {
    color: #7541C0;
    font-family: Roboto;
}

/* Form */
.message {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    height: 100%;
    margin-left: 4%;
    background: #ffffff;
    padding: 2em;
}

.message input,
.message textarea {
    width: 100%;
    border: 1px solid black;
    height: 2em;
    margin-bottom: 1em;
}

.message textarea {
    height: 4em;
}

.message label {
    align-self: flex-start;
    font-size: 1.2em;
}

/* Address */
.address-text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
}

.address {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: .9rem;
    color: #Ffffff;
}

/*footer*/
.base-buttons {
    margin: 1em 0px;
}

.secfooter {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.above-footer {
    display: flex;
    justify-content: flex-start;
}

.footer-buttom {
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    color: #1A1A1A;
    width: 20%;
    font-weight: 800;
    margin: 0 .8rem .8rem 0;

}

.secfooter p {
    font-size: .7rem;
    font-family: 'Roboto', sans-serif;
    color: #272D4E;
    display: inline-block;
}

@media (max-width: 991px) {
    .middle-text {
        text-align: center;
    }

    .rectangle {
        height: 35vh;
    }

    .text-title {
        font-size: 2em;
        line-height: 1.5em;
        padding-left: .5em;
    }

    .about-section {
        margin: 5em 0px;
    }

    .about-section .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-section .inside-box {
        margin-top: 1em;
        width: 100%;
    }

    .our-people,
    .member {
        flex-direction: column;
        width: 100%;
    }

    .team-box {
        height: auto;
    }

    .member img,
    .member p {
        max-width: 300px;
    }

    .member p {
        align-self: center;
    }
}

@media (max-width: 768px) {
    .message {
        margin: 0px;
    }

    .info {
        height: 10em;
        margin-bottom: 2em;
    }
}

@media (max-width: 485px) {

    .inside-box {
        display: flex;
        flex-direction: column;
        padding: 1em;
        padding: 2em;
    }

    .logo-inside {
        padding: 0px;
        margin-bottom: 1em;
    }

    .text2 {
        width: 90%;
    }
}

@media (max-width: 326px) {
    .logo {
        width: 100px;
    }

    .prefoot>* {
        min-width: auto;
        width: 100%;
    }

    .container.prefoot {
        padding: 1em 0px;
        flex-direction: column;
    }
}